@import "../../vars.css";

.home {
    color: var(--color-text)
}
.intro {
    overflow: hidden;
    height: 515px;
}

.title {
}

.about {

}

.links {
    width: 400px;
    display: flex;
    margin-left: 100px;
}

.projects {
    width: 200px;
    text-decoration: none;
}

.resume {
    text-decoration: none;
    color: #0000FF;
}

.specialties {
    background-color: grey;
    height: 515px;
    display: grid;
    text-align: center;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.frontendBox {

}

.backEndBox {

}

.cicdBox {

}

.skills {
    text-align: center;
}