@import "../../vars.css";

.home {
    color: var(--color-text)
}

.profileImg {
    display: block;
    border-radius: 8px;
    margin: 50px 300px 50px auto;
    object-position: 70% 25%;
    object-fit: cover;
}

.intro {
    overflow: hidden;
    height: 515px;
    margin: 0 300px 0 300px;
}

.name {
    float: left;
    height: 1fr;
    width: fit-content;
    font-size: 115px;
    font-weight: 600;
    letter-spacing: 0em;
}

.about {
    margin-top: 80px;
    width: auto;
    display: flex;
}

.links {
    width: 400px;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    text-align: center;
    text-decoration: none;
    
}

.link {
    margin: auto;
    text-decoration: none;
    border-radius: 40px;
    background-color: var(--color-bg);
    width: 120px;
    height: 60px;
}

.resume {
    text-decoration: none;
}

.specialties {
    background-color: grey;
    height: 515px;
    display: grid;
    text-align: center;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.frontendBox {

}

.backEndBox {

}

.cicdBox {

}

.skills {
    text-align: center;
}