@import "../../vars.css";

.home {
    color: var(--color-text)
}

.profileImg {
    display: block;
    border-radius: 8px;
    margin: 50px 300px 50px auto;
    object-position: 70% 25%;
    object-fit: cover;
}

.intro {
    overflow: hidden;
    height: 515px;
    margin: 0 300px 0 300px;
}

.name {
    height: 1fr;
    width: fit-content;
    font-size: 115px;
    font-weight: 600;
    letter-spacing: 0em;
}

.about {
    display: flex;
}

.links {
    width: 400px;
    display: flex;
    margin-left: 100px;
}

.projects {
    width: 200px;
    text-decoration: none;
}

.resume {
    text-decoration: none;
    color: #0000FF;
}

.specialties {
    background-color: grey;
    height: 515px;
    display: grid;
    text-align: center;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.frontendBox {

}

.backEndBox {

}

.cicdBox {

}

.skills {
    text-align: center;
}