@import "../../vars.css";

.footer {
    position: static;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin-bottom: 100px;
}

.content {
    padding-top: 20px;
    text-align: center;
    height: 200px;
    background-color: var(--color-bg);
    margin-top: auto;
    display: flex;
}

.linkBox {
    width: 50%;
    position: relative;
}

.linkBox h2 {
    text-decoration: none;
}

.contactBox {
    flex-grow: 1;
}

.title {
    font-style: bold;
}