@import "../../vars.css";

.footer {
    position: static;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.content {
    padding-top: 20px;
    text-align: center;
    height: 180px;
    background-color: var(--color-bg);
    margin-top: auto;
    display: flex;
}

.linkBox {
    width: 50%;
    font-size: 20px;
    font-weight: 200;
}

.linkBox p {
    padding-top: 10px;
}

.linkBox a {
    text-decoration: none;
}

.contactBox {
    flex-grow: 1;
    font-size: 20px;
}

.contactBox p {
    padding-top: 10px;
}

.title {
    font-style: bold;
    font-size: 25px;
}