:root {
  /* Colors */
  --color-text: #401952;
  --color-primary: #dedaf1;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #e6e6fa;
  --color-hover: #cbc3e3;
  --font-title: "Anton", "Anton Placeholder", sans-serif;

  /* Fonts */
  --font-roboto: "Roboto";
}
